<% if user != current_user && user_signed_in? %>
	<div class="follow-button mp-margin">
	<% if current_user.following?(user) %>
		<%= link_to "Following", follow_path(id: user.id), class: 'btn btn-success btn-lg', method: :delete, remote: true %>
	<% else %>
		<%= link_to "Follow", follows_path(id: user.id), class: 'btn btn-warning btn-lg', method: :post, remote: true %>
	<% end %>
	</div>
<% end %>
<ul class="user-stats">
  <li id="user-posts">
    <div class="number-label count"><%= "Post".pluralize(@user.posts.count) %></div>
    <div class="number-value count"><%= @user.posts.count %></div>
  </li>
  <li id="user-followers">
    <div class="number-label"><%= "Follower".pluralize(@user.followed_relationships.count) %></div>
    <div class="number-value"><%= @user.followed_relationships.count %></div>
  </li>
  <li id="user-following">
    <div class="number-label"><%= "Following".pluralize(@user.following_relationships.count) %></div>
    <div class="number-value"><%= @user.following_relationships.count %></div>    
  </li>
</ul>
