<div class="prof_header">

  <div class="row text-center">

    <div class="col-sm-3">
      <% if @user.photo? %>
        <%= cl_image_tag @user.photo, class: 'prof_pic' %>
      <% else %>
        <%= image_tag "https://goo.gl/2wWxZy", class: 'prof_pic' %>
      <% end %>
    </div>

    <div class="col-sm-3"></div>

    <div class="col-sm-6">

      <div class="user_header">

        <div class="row">
          <div class="user_photo">
            <h1 class = "username"><%= @user.name %></h1>
          </div>

          <div class="edit_profile mp-margin">
            <%= link_to 'EDIT PROFILE', edit_user_registration_path(@user), class: 'user_edit_button btn btn-default right' if user_signed_in? && @user == current_user %>
          </div>
          <div id="follow_container_<%= @user.id %>" class="text-center">
            <%= render partial: 'follow', locals: {user: @user} %>
          </div>
        </div>  
      </div>

    </div>

  </div>

</div>
<hr>

<div class="prof_post_box">
    <div id="all-user-posts"></div>
</div>

<script type="text/javascript">
  $(function(){
    let userData = {};
    let user_id = <%= @user.id %>;
    $.ajax({
      url: '/users/' + user_id + '.json',
      type: 'GET'
    })
    .done(function(data) {
      userData = data;
      displayPosts(data);
    });
    function displayPosts(data) {
      let container = $("#all-user-posts");
      let htmlString = "";
      container.empty();
      if (data["posts"].length == 0) {
        htmlString = `<div class="alert alert-danger text-center" role="alert">This user has no posts yet!</div>`
      } else {
        data["posts"].forEach(function(data) {
          htmlString += `<div class="col-xs-4">
                          <a href="/posts/${data["post"]["id"]}">
                            <img src=${data["post"]["photo"]["url"]} class="prof_show">
                          </a>
                        </div>`
        });
      }
      container.append(htmlString);
    }
    $('#user-posts').on('click', function(e){
      $('#all-user-posts').empty();
      displayPosts(userData);
    });
    $('#user-following').on('click', function(e){
      $('#all-user-posts').empty();
      getFollowing();
    });
    $('#user-followers').on('click', function(e){
      $('#all-user-posts').empty();
      getFollowers();
    });
    function getFollowing(){
      let htmlString = "";
      if(userData.following_relationships == ""){
        htmlString += `<div class="alert alert-info text-center"><p>This user has not followed any users yet.</p></div>`;
      } else {
          userData.following_relationships.forEach(function(userInfo){
            htmlString += `
                          <div class="row">
                            <div class="col-xs-10 col-sm-8 col-sm-offset-2 col-xs-offset-1">
                              <div class="panel panel-success">
                                <div class="panel-body">
                                  <a href="/users/${userInfo["user"]["id"]}">
                                    <div class="row follow_pic_small">
                                      <img class="col-xs-4" src=${userInfo["user"]["photo"]["url"] == null ? "https://goo.gl/2wWxZy" : userInfo["user"]["photo"]["url"]}><p class="col-xs-4">${userInfo["user"]["name"]}</p>
                                    </div>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>`;
        });
      }
      $('#all-user-posts').append(htmlString);
    }
    function getFollowers(){
      let htmlString = "";
      if(userData.followed_relationships == ""){
        htmlString += `<div class="alert alert-info text-center"><p>This user has no followers yet.</p></div>`;
      }
      else{
        userData.followed_relationships.forEach(function(userInfo){
          htmlString += `
                        <div class="row">
                            <div class="col-xs-10 col-sm-8 col-sm-offset-2 col-xs-offset-1">
                              <div class="panel panel-success">
                                <div class="panel-body">
                                  <a href="/users/${userInfo["user"]["id"]}">
                                    <div class="row follow_pic_small">
                                      <img class="col-xs-4" src=${userInfo["user"]["photo"]["url"] == null ? "https://goo.gl/2wWxZy" : userInfo["user"]["photo"]["url"]}><p class="col-xs-4">${userInfo["user"]["name"]}</p>
                                    </div>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>`;
        });
      }
      $('#all-user-posts').append(htmlString);
    }
  });
</script>