<div class="prof_header">

  <div class="row">

    <div class="col-xs-4">
      <%= image_tag @user.photo, class: 'prof_pic' %>
    </div>

    <div class="col-xs-8">

      <div class="user_header">

        <div class="row">
          <div class="col-xs-6">
            <h1 class = "username"><%= @user.name %></h1>
          </div>

          <div class="col-xs-6">
            <%= link_to 'EDIT PROFILE', edit_user_registration_path(@user), class: 'user_edit_button btn btn-default right' if user_signed_in? && @user == current_user %>
          </div>
        </div>  
      </div>

      <span class="count"><%= pluralize(@user.posts.count, 'post') %></span>

    </div>

  </div>

</div>


<div class="prof_post_box">

  <div class="row">

    <% @user.posts.each do |post| %>

        <div class="col-xs-6">
          <%= image_tag post.photo, class: 'prof_show' %>
        </div>

    <% end %>

  </div>
</div>