<nav>
  <div class="header">
    <div class = "col-lg-8 col-lg-offset-2">
      <div class="row">
        <div class="nav_wrapper">
            <span class="pull-left head-size logo">
              <%= link_to root_path do %>
                <i class="fa fa-instagram" aria-hidden="true"></i> | 
              <% end %>
              <strong><span class="brand"><%= link_to 'Instapost', root_path %></span></strong>
            </span>
          
          <% if user_signed_in? %>
            <% if !current_page?(user_path(current_user.id)) %>

              <span class="nav_links pull-right header_pic_small"><%= link_to user_path(current_user.id) do %>
                  <% if current_user.photo? %>
                    <%= cl_image_tag current_user.photo, alt: current_user.name.split[0], title: current_user.name %>
                  <% else %>
                    <%= current_user.name.split[0] %>
                  <% end %>
                <% end %>
              </span>

            <% else %>

              <span class="nav_links pull-right"><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></span>

            <% end %>

            <span class="nav_links pull-right"><%= link_to ' New Post', new_post_path, class: 'fa fa-pencil-square-o' %></span>

          <% else %>

            <span class="nav_links pull-right"><%= link_to 'Sign Up', new_user_registration_path %></span>

            <span class="nav_links pull-right"><%= link_to 'Log In', new_user_session_path %></span>

          <% end %>

        </div>
      </div>
    </div>
  </div>
</nav>