<div class="post_comments row">
<% post.comments.each do |comment| %>
  <%= link_to comment.user.name, user_path(comment.user_id), remote: true %> <%= comment.text %>
  <%if comment.user == current_user %>
    <%= link_to '', post_comment_path(post_id: post.id, id: comment.id), method: :delete, title: 'Delete Comment', class: 'cmt-del-btn glyphicon glyphicon-remove', data: { confirm: "Are you sure?" }, remote: true %>
  <% end %>
  <br>
<% end %>

<% if user_signed_in? %>
  <hr>
  <%= simple_form_for Comment.new, url: post_comments_path(post), remote: true, method: :post do |f| %>
    <%= f.input :text, label: 'Comment', placeholder: 'Add a comment...' %>
    <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
  <% end %>
<% end %>
</div>