<% @posts.each do |post| %>
  <div class="post_box">

    <div class="post_header">
      <%= image_tag post.user.photo, class: 'prof_pic_small' %>
      <%= link_to post.user.name, user_path(post.user_id) %>
      <span class="timestamp pull-right"><%= distance_of_time_in_words(DateTime.now, post.created_at) %> ago</span>
    </div>
    <%= image_tag post.photo, class: 'content-photo' %>

    <div class="post_body row">
      <%= post.description %>
      <br><br>
      <%= link_to 'View Post', post_path(post.id), class: 'btn btn-info btn-sm' %>
      <% if post.user == current_user %>
        <%= link_to 'Edit Post', edit_post_path(post.id), class: 'btn btn-warning btn-sm' %>
        <%= link_to 'Delete Post', post_path(post.id), method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: "Are you sure?" } %>
      <% end %>
    </div>

    <div class="post_comments row">
      <% post.comments.each do |comment| %>
        <%= link_to comment.user.name, user_path(comment.user_id) %> <%= comment.text %>
        <%if comment.user == current_user %>
          <%= link_to '', post_comment_path(post_id: post.id, id: comment.id), method: :delete, title: 'Delete Comment', class: 'cmt-del-btn glyphicon glyphicon-remove', data: { confirm: "Are you sure?" } %>
        <% end %>
        <br>
      <% end %>

      <% if user_signed_in? %>
        <hr>
        <%= simple_form_for Comment.new, url: post_comments_path(post), method: :post do |f| %>
          <%= f.input :text, label: 'Comment', placeholder: 'Add a comment...' %>
          <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
        <% end %>
      <% end %>
    </div>

  </div>

<% end %>