<div class="prof_header">

  <div class="row">

  	<div class="col-xs-5">
     <%= link_to user_path(@post.user_id) do %>
  		  <%= cl_image_tag @post.user.photo,  class: 'prof_pic' %>
      <% end %>
  	</div>
    <div class="col-xs-7">
    <%= link_to user_path(@post.user_id) do %>
  	 <h1 class="username"><%= @post.user.name %></h1>
    <% end %>
    <span class="timestamp"><%= distance_of_time_in_words(DateTime.now, @post.created_at) %> ago</span>
    </div>
  </div>
</div>

<div class="prof_post_box">
  <%= cl_image_tag @post.photo, class: 'photo' %>
  <br /><br />
  <span id="likes_container_<%= @post.id %>">
    <%= render partial: 'likes', locals: {post: @post} %>
  </span>
  <%= @post.description %>

  <br>

  <% if @post.user == current_user %>
    <%= link_to 'Edit Post', edit_post_path(@post.id), class: 'btn btn-warning btn-sm' %>
    <%= link_to 'Delete Post', post_path(@post.id), method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: "Are you sure?" } %>
  <% end %>

  <span id="comments_container_<%= @post.id %>">
    <%= render partial: 'comments', locals: {post: @post} %>
  </span>

</div>