<!DOCTYPE html>
<html>
  <head>
    <title>Instapost</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    
    <!-- favicon -->
    <%= favicon_link_tag %>
    
    <!--  Mobile Responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body> 
    <div id="wrap">
    <%= render 'shared/nav' %>
      <div class = "container-fluid">
        <div class="col-md-6 col-md-offset-3">
          <%= render 'shared/flash_messages' %>
          <%= yield %>
        </div>
      </div>
    </div><!-- wrap -->
  </body>
</html>
