<!DOCTYPE html>
<html>
  <head>
    <title>Share Your Photos Online - Instapost</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- font-awesome cdn -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    
    <!-- google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    
    <!-- favicon -->
    <%= favicon_link_tag %>
    
    <!--  Mobile Responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
  </head>

  <body> 
  <h1>Madhav</h1>
    <div id="wrap">
    <%= render 'shared/nav' %>
      <div class = "container-fluid">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <%= render 'shared/flash_messages' %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div><!-- wrap -->

    <%= render 'shared/footer' %>
  </body>
</html>
